@page "/SignUp"
@inject NavigationManager navigateManager
@using Microsoft.AspNetCore.Http.Extensions
<PageTitle>SignUp</PageTitle>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by Mohithpoojary</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login">
                    <div class="create__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" @bind="@CreateUser" @oninput="OnCreateEvent" class="create__input" placeholder="User name">
                    </div>
                    <div class="create__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" @bind="@CreateEmail" @oninput="OnEmailEvent" class="create__input" placeholder="Email">
                    </div>
                    <div class="create__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" @bind="@CreatePassword" @oninput="OnPasswordEvent" class="create__input" placeholder="Password">
                    </div>
                    <button class="button create__submit" @onclick="CreateAcc">
                        <span class="button__text">Create Account</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
                <div class="social-login">
                    <button class="button SignUp__submit" @onclick="LogIn">
                        <span class="button__text">Log In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
    <!-- partial -->
    
</body>
</html>

@code {
    private string CreateUser = "";
    private void OnCreateEvent(ChangeEventArgs changeEvent)
    {
        CreateUser = (string)changeEvent.Value;
    }

    private string CreateEmail = "";
    private void OnEmailEvent(ChangeEventArgs changeEvent)
    {
        CreateEmail = (string)changeEvent.Value;
    }

    private string CreatePassword = "";
    private void OnPasswordEvent(ChangeEventArgs changeEvent)
    {
        CreatePassword = (string)changeEvent.Value;
    }

    private void CreateAcc()
    {
        new Data.CreateClass(CreateUser, CreatePassword, CreateEmail).CreateSQL();
    }

    private void LogIn()
    {
        navigateManager.NavigateTo("/");
    }
}